body {
  font-family: 'Poppins', sans-serif; /* A modern, clean font */
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #667eea, #448aff); /* A vibrant blue gradient */
  color: #fff;
}

header {
  background-color: rgba(0, 51, 102, 0.8); /* Dark blue with transparency */
  padding: 15px 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
}

nav {
  display: flex;
  list-style: none;
}

nav ul li {
  background-color: #34495e; /* Darker blue */
  border-radius: 5px;
  padding: 5px 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #C8A2C8; /* Change background */
  color: black;
  transition: all 0.3s ease-in-out; /* Smooth transition */
  padding: 0.5rem;
  cursor: pointer;
}

#hero {
  text-align: center;
  padding: 100px 0;
}

#hero img {
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#hero .covertext {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#findgrp {
  background: #4AA696;
  background: linear-gradient(135deg, #4AA696, #3A77B4);
  color: #00000;
  padding: 30px;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 150px;

}

#findgrp h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

#findgrp form {
  max-width: 500px;
  margin: 0 auto;
}

#findgrp .form-group {
  margin-bottom: 25px;
}

#findgrp label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#findgrp input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#findgrp button {
  background: linear-gradient(to right, #3498db, #2980b9);
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  align: center;
}

#findgrp button:hover {
  background: linear-gradient(to right, #2980b9, #3498db);
}

#group-results {
  margin-top: 20px;
}

#group-results .group-card {
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 10px;
}

#group-results .group-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

#group-results .group-card p {
  margin-bottom: 5px;
}

@media (max
